logs
ergo_config.json
/.bsp
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
logfile
*.log
.DS_Store

# targets
target
/modules/*/target/
/target/
/project/target/
/project/project/target

# env
.env
config.env

# DB Stuff
data